# Entornos Virtuales
.venv/
venv/
env/
__pycache__/
*.pyc

# Variables de Entorno y Secretos
.env
.env.local
*.pem

# Base de Datos
*.db
*.db.*
*.db-*
*.db-shm
*.db-wal
*.sqlite3

# Logs y Cache
logs/
data/cache/
*.csv
*.log

# Entornos y Herramientas del IDE
.vscode/
.idea/
*.swp
.DS_Store
